---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

const pageTitle = "Home Page";
---

<Layout title={pageTitle}>
  <h1>{pageTitle}</h1>

  <script>
    import "../scripts/menu.js";
  </script>
</Layout>
